.button {
  min-width: 150px;
  max-width: 250px;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.button span {
  position: absolute;
  right: 20px;
  top: 12px;
}

.button span svg {
  height: 32px;
  width: 32px;
  fill: #fff;
}

.button.svg {
  padding-right: 65px;
}

.button.noMaxWidth {
  max-width: initial;
}

.button:focus {
  outline: none;
}

.button > span {
  vertical-align: middle;
}

.button-right {
  position: absolute;
  left: 30px;
}

.button-right--offset {
  transform: translate3d(200%, 0, 0);
}

.button-left {
  position: absolute;
  left: 15px;
}

.button-left--offset {
  transform: translate3d(-200%, 0, 0);
}

/* Moema */

.button--moema {
  padding: 1.5em 3em;
  border-radius: 50px;
  background: #FF92F6;
  color: #fff;
  transition: background-color .3s, color .3s;
}

.button--moema.button--inverted {
  background: #ECEFF1;
  color: #37474f;
}

.button--moema::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  background: inherit;
  border-radius: 50px;
  z-index: -1;
  opacity: .4;
  transform: scale3d(0.8, 0.5, 1);
}

.button--moema:hover {
  transition: background-color .1s .3s, color .1s .3s;
  background-color: #FF92F6;
  animation: anim-moema-1 .3s forwards;
}

.button--moema.button--inverted:hover {
  background-color: #FF92F6;
}

.button--moema:hover::before {
  animation: anim-moema-2 .3s .3s forwards;
}
@keyframes anim-moema-1 {
  60% {
    transform: scale3d(0.8, 0.8, 1);
  }

  85% {
    transform: scale3d(1.1, 1.1, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-2 {
  to {
    opacity: 0;
    transform: scale3d(1, 1, 1);
  }
}

.button--text-thick {
  font-weight: 600;
}

/* Typography and Roundedness */

.button--text-upper {
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Sizes */

.button--size-s {
  font-size: 14px;
}

.button--size-m {
  font-size: 16px;
}

.button--size-l {
  font-size: 18px;
}
@media only screen and (max-width: 992px) {
  .button--moema {
    padding: 1em 2em;
  }
}

.pr-60 {
  padding-right: 60px;
}
