.processbars-list-container {
  padding: 100px 0 0;
  min-height: 500px;
}

.processbars {
  min-height: 400px;
}

.processbars-header {
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}

.processbars-header span {
  font-size: 50px;
  text-transform: uppercase;
  opacity: 0;
  transform: translate3d(0, 50%, 0);
  display: block;
}

@media only screen and (max-width: 1200px) {
  .processbars-header {
    letter-spacing: 0;
    padding-left: 50px;
  }
}

@media only screen and (max-width: 992px) {
  .processbars-header {
    font-size: 50px;
    padding-left: 20px;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .processbars-header {
    padding: 0;
  }
  .processbars-header span {
    font-size: 30px;
  }
  .processbars-list-container {
    padding: 30px 0 0;
  }
}
