.page-container {
    background-color: #CCCCCC;
}

.job-application--button-container {
    z-index: 3;
}

.page-container h1.name {
    padding: 0 0 0 5vw;
}

@media only screen and (max-width: 992px) {
    .page-container h1.name {
        padding: 0;
    }
}