.revealer {
    width: 100vw;
    height: 100%;
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    left: 0;
}

.revealer--top {
	bottom: 100%;
}

.revealer--bottom {
	top: 100%;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* Two layer effect (effect-2) to TOP */

.anim--effect-top.revealer--animate .layer {
    animation: anim-effect-2-1-top 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
	animation-delay: 0.5s;
    background: #fff;
}

.anim--effect-top.revealer--animate .layer:nth-child(2) {
    animation-name: anim-effect-2-2-top;
	animation-delay: 0.5s;
    background: #FF92F6;
}

@keyframes anim-effect-2-1-top {
    0% {
        transform: translate3d(0, 0, 0);
    }
    30%,
    70% {
        transform: translate3d(0, -100%, 0);
        animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }
    100% {
        transform: translate3d(0, -200%, 0);
    }
}

@keyframes anim-effect-2-2-top {
    0%,
    14.5% {
        transform: translate3d(0, 0, 0);
    }
    37.5%,
    62.5% {
        transform: translate3d(0, -100%, 0);
        animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }
    85.5%,
    100% {
        transform: translate3d(0, -200%, 0);
    }
}

/* Two layer effect (effect-2) to Bottom */
.anim--effect-bottom.revealer--animate .layer {
    animation: anim-effect-2-1-bottom 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
	animation-delay: 0.5s;
    background: #fff;
}

.anim--effect-bottom.revealer--animate .layer:nth-child(2) {
    animation-name: anim-effect-2-2-bottom;
	animation-delay: 0.5s;
    background: #FF92F6;
}

@keyframes anim-effect-2-1-bottom {
    0% {
        transform: translate3d(0, -200%, 0);
    }
    30%,
    70% {
        transform: translate3d(0, -100%, 0);
        animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes anim-effect-2-2-bottom {
    0%,
    14.5% {
        transform: translate3d(0, -200%, 0);
    }
    37.5%,
    62.5% {
        transform: translate3d(0, -100%, 0);
        animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }
    85.5%,
    100% {
        transform: translate3d(0, 0, 0);
    }
}