.column-images-container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.column-images-wrapper {
  max-width: 500px;
}

.column-images-wrapper:nth-child(2),
.odd.column-images-wrapper {
  padding: 200px 25px 0;
}

.odd.column-images-wrapper:nth-child(2) {
  padding: 0 25px;
}

.column-images-wrapper img {
  width: 100%;
  filter: grayscale(1);
  transition: filter 0.3s;
}

.column-images-wrapper img:hover {
  width: 100%;
  filter: none;
}
