.resume-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 100px 1em;
}

h1.name.relative {
    position: relative;
    margin-bottom: 50px;
}

.resume-container .resume-left h2 {
  margin: 0;
  line-height: 1.2;
  text-align: right;
}

.resume-container .resume-left h2:nth-child(1) {
  margin-top: 16px;
  font-size: 50px;
}

.resume-container .resume-left h2:nth-child(2) {
  font-weight: normal;
  letter-spacing: .2px;
  opacity: .8;
}

.resume-row {
  max-width: 1600px;
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  flex-direction: row;
}

.resume-row > div {
  margin: 0 50px;
}

.resume-left {
  flex: 1 0 0;
  transform: translate3d(0, 20px, 0);
}

.resume-right {
  flex: 3 0 0;
  transform: translate3d(0, 20px, 0);
}

.resume-left,
.resume-right {
  opacity: 0;
}

.back-button {
  right: 0;
  position: absolute;
}

.vertical-scroll-hider {
  overflow: hidden;
}

@media only screen and (max-width: 992px) {
  .resume-row {
    flex-direction: column;
  }

  .resume-row > div {
    margin: initial;
  }

  .resume-container .resume-left h2 {
    text-align: left;
  }
  .resume-container .resume-left h2:nth-child(1) {
    margin-top: 10px;
    font-size: 40px;
  }

  .resume-container .resume-left h2:nth-child(2) {
    font-size: 30px;
  }
}
