nav {
  position: fixed;
  right: 0;
  z-index: 3;
  width: 100%;
  max-width: 158px;
}

ul.nav {
  list-style: none;
  padding: 1.5em 2em;
}

.nav li {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  font-weight: 500;
  color: #484848;
  text-transform: uppercase;
  position: relative;
  transition: color .15s ease-in-out;
  cursor: pointer;
  transform: translate3d(200%, 0, 0);
}

.nav li.active,
.nav li:hover {
  color: #000;
  font-weight: bold;
}

.icon-line {
  position: absolute;
  top: 100%;
  left: -30%;
  overflow: hidden;
  margin: 0;
  width: 150%;
  height: 45px;
  transition: stroke-dashoffset .3s ease-in-out;
  transform: translateY(-90%);
  fill: none;
  stroke: #FF92F6;
  stroke-width: 70;
  stroke-dasharray: 400px;
  stroke-dashoffset: 400px;
  z-index: -1;
}

li:nth-child(1) .icon-line {
  width: 150%;
  left: -10%;
}

li:nth-child(2) .icon-line {
  width: 160%;
  left: -25%;
}

li:nth-child(3) .icon-line {
  width: 130%;
  left: -15%;
}

li:nth-child(4) .icon-line {
  width: 120%;
  left: -20%;
}

li:nth-child(5) .icon-line {
  width: 140%;
  left: -15%;
}

.icon-line.active {
  stroke-dashoffset: 0;
}
@media only screen and (max-width: 1500px) {
  nav {
    right: 0;
    max-width: initial;
    background: #cccccc;
    opacity: .9;
    padding-right: 1em;
  }

  ul.nav {
    padding: 0;
    text-align: right;
    float: right;
    min-width: 530px;
  }

  .nav li {
    display: initial;
    padding: .25rem 1.2em;
    transform: translate3d(0, -200%, 0);
  }

  .icon-line,
  li:nth-child(1) .icon-line,
  li:nth-child(2) .icon-line,
  li:nth-child(3) .icon-line,
  li:nth-child(4) .icon-line,
  li:nth-child(5) .icon-line {
    width: 100%;
    left: 0;
    height: 30px;
  }
}
@media only screen and (max-width: 768px) {
  nav {
    display: none;
  }
}
